.botao-personalizado {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

/* Efeito ao passar o mouse */
.botao-personalizado:hover {
    -fx-background-color: #2980b9; /* azul mais escuro */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}